
  <form class="form-horizontal form-label-left">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">服务器ID</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input type="text" class="form-control" readonly="readonly" placeholder="自动生成">
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">拥有者 *</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input type="text" class="form-control" placeholder="谁出钱，谁就是拥有者" name = "owner">
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">操作系统信息 
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <textarea class="form-control" rows="3" placeholder="操作系统信息" name = "os_info"></textarea>
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">ip地址 *</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input type="text" class="form-control" placeholder="ip地址" name ="ip">
        </div>
      </div>
  
      
      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">端口 *</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" name = "port" placeholder="默认22" value = "22"  >
          </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">服务器名称</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input type="text" class="form-control" placeholder="默认ip地址" name= "server_name">
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">cpu核心数</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input type="text" class="form-control" placeholder="默认1" name = "cpu" value = "1">
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">内存大小</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div class="input-group">
            <input type="text" class="form-control"  placeholder="默认512M" value = "512M">
            <div class="input-group-addon">M</div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">硬盘</label>
            <div class= "col-md-6 col-sm-6 col-xs-12">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="默认50G" value = "50G">
                  <div class="input-group-addon">G</div>
              </div>
            </div>
            <select class="selectpicker col-md-3 col-sm-3 col-xs-12" >
                <option value="hd">hd</option>
                <option value="ssd">ssd</option>
            </select>
      </div>
  
  
      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">带宽</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" class="form-control" >
          </div>
      </div>
  
      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">所处机房</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" class="form-control" >
          </div>
      </div>
  
      <div class="control-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">标签</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input id="tags_1" type="text" class="tags form-control" value="无标签" />
            <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
          </div>
      </div>
  
      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">备注</span>
          </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <textarea class="form-control" rows="3" placeholder="备注信息"></textarea>
          </div>
      </div>
  
      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">登录方式：</label>
          <select class="selectpicker col-md-9 col-sm-9 col-xs-12" id = "select_pwd" title="选择加密方式" >
              <option value="login_pwd">密码登录</option>
              <option value="login_cert">上传证书</option>
          </select>
      </div>
      <div class="form-group" hidden id="input_pwd">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" id = "pwd_label"></label>
          <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="password" class="form-control" name= "input_pwd">
          </div>
      </div>
      <div class="form-group" hidden id="repassword">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">确认密码：</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="password" class="form-control" name="repassword" >
          </div>
      </div>
      <div class="col-md-7 col-sm-7 col-xs-12"></div>
        <input type="submit" class="btn btn-success" onclick=""  value="上传">
      </div>
    </form>
  
    <script defer="defer">
      /**
       * 选择下拉菜单
       */
        $(function(){
          $('#select_pwd').change(function(){
            $("#input_pwd").attr("style","display:block;");
            let current_value = $('#select_pwd').val()
            if(current_value == "login_pwd"){
              $("#pwd_label").text("登录密码：");
            }
            else if(current_value == "login_cert"){
              $("#pwd_label").text("密钥密码：");
            } 
            $("#repassword").attr("style","display:block;");
          })
        });
  
        /**
         * 设置登录密码信息规则
         */
        $('form').bootstrapValidator({
           message: 'This value is not valid',
           feedbackIcons: {
               valid: 'glyphicon glyphicon-ok',
               invalid: 'glyphicon glyphicon-remove',
               validating: 'glyphicon glyphicon-refresh'
           },
           fields: {/*验证：规则*/
              ip:{
                message:'ip填写有误',
                validators: {
                  notEmpty: {
                           message: 'ip不能为空'
                       },
                  regexp:{
                    regexp:/^((25[0-5]|2[0-4]\d|[01]?\d\d?)\.){3}(25[0-5]|2[0-4]\d|[01]?\d\d?)$/,
                    message:'输入正确的IPV4地址'
                  }
                }
              },
               port: {
                   message: '端口填写有误',
                   validators: {
                       notEmpty: {
                           message: '端口不能为空'
                       },
                       stringLength: {
                           min: 1,
                           max: 5,
                           message: '端口长度由1~65535'
                       },
                       threshold :  1 , //有1字符以上才发送ajax请求，
                       regexp: {
                           regexp: /^([1-9][0-9]*)$/,
                           message: '端口由数字组成'
                       }
                   }
               },
               input_pwd: {
                   message:'密码无效',
                   validators: {
                       notEmpty: {
                           message: '密码不能为空'
                       },
                       identical: {//相同
                           field: 'repassword', //需要进行比较的input name值
                           message: '两次密码不一致'
                       },
                   }
               },
               repassword: {
                   message: '密码无效',
                   validators: {
                       notEmpty: {
                           message: '输入重复密码'
                       },
                       identical: {//相同
                           field: 'input_pwd',
                           message: '两次密码不一致'
                       },
                   }
               },
           }
       });
        
    </script>
  
  